/* Styles defined for the desktop or the bigger screen devices*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to bottom right, #efedff, #c6c6eb);
  /* background-image: linear-gradient(to top left, #a7c5eb, #f6f7f8); */
  /* 	background-color: #5cbfe6; */

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}
#home {
  background-image: url("/images/bg1.webp");
  justify-content: space-around;
}
#contact {
  background-image: url("/images/contact.jpeg");
  justify-content: space-around;
}
#portfolio {
  background-image: url("/images/portfolio.jpeg");
  justify-content: space-around;
}
#services {
  background-image: url("/images/services.jpeg");
  justify-content: space-around;
}
/* Header Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: linear-gradient(293deg, #381abf, #b21c7b, #35a99c);
  background-color: transparent;
}

.logo {
  padding: 0 5rem;
}

.logo .logo-heading {
  color: #fff;
}

.menu {
  padding: 0 5rem;
}

.hamburger {
  display: none;
  color: #fff;
  font-size: 25px;
}

.cross-icon {
  display: none;
}

.menu .menu-list {
  display: flex;
  list-style: none;
}

.menu-list .menu-list-items {
  padding: 0.5rem 1rem;
}

@media screen and (min-width: 856px) and (max-width: 1024px) {
  .menu-list .menu-list-items {
    padding: 0.5rem 0.3rem;
  }
}

/* Main Hero Section Styles */
.hero {
  background-image: url("/images/bg1.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 4.8rem 0;
}

.hero .intro {
  text-align: center;
  margin: 0 20rem;
  margin-left: 0;
  margin-right: 30vw;
}

.hero .intro-buttons {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* About section styles */
.about {
  display: flex;
  align-items: center;
  background-image: linear-gradient(264deg, #405cd7, #405cd7);
  justify-content: space-between;
  width: 100%;
}

.about .about-text {
  width: 450px;
  color: #fff;
  padding: 5rem 1rem 5rem 5rem;
}

.about .about-image img {
  height: 400px;
  width: 450px;
  padding: 5rem 5rem 5rem 1rem;
}

/* Portfolio section styles */
.portfolio {
  margin: 4.8rem 0;
  padding: 0 5rem;
}

.port-card {
  padding: 0 !important;
  /* background: none !important; */
  border: 2px solid #000;
}

.port-card .image {
  width: 100%;
}

.port-card .image img {
  height: 200px;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.port-card:hover {
  transform: scale(1.1);
}

.back{
  background-color: #712ff5;
}

/* Services section styles */
.services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4.8rem 0;
  padding: 0 5rem;
}

.my-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}

.my-row .my-col {
  text-align: center;
  width: 30%;
}

.my-card1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: #FFF; /* Blue background */
  color: #FFFFFF; /* White text */
}

.my-card1:hover {
  background-color: #4217f0; /* Red background on hover */
  color: #3450db; /* White text on hover */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.my-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-image: linear-gradient(#7491d7, #536dc8, #35a99c);
  /* 	padding: 1rem;  */
}
.my-card:hover {
  transform: scale(1.02);
}

.icon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #363d73;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  font-size: 30px;
  color: #fff;
}

/* Contact section styles */
.contact {
  padding: 0 5rem;
}
.form-controls:hover {
  transform: scale(1.1);
  border-radius: 10px;
  background-color: #cde5e1;
}
.contact-content {
  display: flex;
  margin: 3rem 0;
  justify-content: space-between;
}

.contact-form-container {
  width: 50%;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form .form-controls {
  width: 80%;
  padding: 10px 0;
  margin: 1.67rem 0;
}

.contact-form .form-btn {
  width: 39%;
}

.contact-details {
  width: 50%;
  margin-left: 50px;
}
.contact-text:hover {
  text-decoration: underline solid;
}
/* Footer Styles */
.footer {
  background-color: #000;
  color: #fff;
  padding: 2rem;
}

.footer-list-items {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin: 1rem 1rem 0 1rem;
  border-radius: 50%;
  background-color: #0722ef;
}

.footer-list-items:hover {
  transform: scale(1.1);
}

.footer-links {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-menu {
  padding: 0 5rem;
}

.footer-menu .footer-menu-list {
  display: flex;
  list-style: none;
}

/* utility classes */
.greet-heading {
  font-size: 1.3rem;
  font-weight: lighter;
  margin: 0;
  letter-spacing: 1px;
}

.my-heading {
  font-size: 2.5rem;
  margin: 0;
}

.sub-heading {
  margin: 0;
  font-size: 0.8rem;
  color: #ccc;
  font-weight: lighter;
}

.links:hover {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid;
}

.links {
  border-bottom: 2px solid transparent;
  transition: all 0.25s;
  padding: 5px;
  text-decoration: none;
  color: #fff;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  border: none;
}

.common-btn {
  background-color: #35a99c;
  color: #fff;
  border: 2px solid #35a99c;
  transition: all 0.25s;
}

.common-btn:hover {
  background-color: #fff;
  color: #35a99c;
  border: 2px solid #35a99c;
  outline: none;
}

.ghost-btn {
  background-color: #fff;
  color: #35a99c;
  border: 2px solid #35a99c;
  outline: none;
}

.ghost-btn:hover {
  background-color: #35a99c;
  color: #fff;
  transition: all 0.25s;
  border: 2px solid #35a99c;
}

.heading-span {
  font-weight: bolder;
}

.text-center {
  text-align: center;
}

.small-para {
  font-size: 14px;
  color: #fff;
  padding: 1rem;
}

.white-text {
  color: #fff;
}

.blue-text {
  color: #000;
}

/* Addition */
.logo {
  display: flex;
}

.logo-icon {
  height: 50px;
  width: auto;
  max-height: 15vw;
  border-radius: 36%;
  margin-right: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.logo-icon:hover {
  transition: transform 1.5s ease-in-out;
  transform: scale(2);
}

.kite {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 35px;
  margin: 0px;
}

::-webkit-scrollbar {
  /* background-color: white; */
  width: 5px;
  border: 2px solid #000000; /* Chrome,Safari,Opera */
}
::-webkit-scrollbar-thumb {
  background-color: rgb(66, 1, 1);
  border-radius: 30%;
}

.my-card:hover {
  background-color: red;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lead-para {
  display: flex;
  text-align: justify;
}

.small-para {
  display: flex;
  text-align: justify;
}
.my-card {
  height: 100%;
  width: 100%;
}

/* Linkedin CSS  */
.badge-base {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.badge-base:hover {
  transform: translateY(-3px);
}

.badge-base__link {
  display: block;
  padding: 5px 20px;
  font-size: 18px;
  width: 86%;
  color: #fff;
  text-decoration: none;
  background-color: #0077b5; /* LinkedIn blue */
}

.badge-base__link:hover {
  background-color: #005ea3; /* Darker shade of LinkedIn blue on hover */
}

/* Tejas Hande
tejasamolhande@gmail.com
8600828734 */

.button-group {
  display: flex; /* Use flexbox to arrange items horizontally */
}

.form-btn {
  margin-right: 10px; /* Add some space between buttons */
}
