/* Responsive CSS file styles defined for smaller width devices */
/* CSS for tablet devices */
@media screen and (min-width: 576px) and (max-width: 820px) {
  .logo {
    padding: 0 3rem;
  }

  .hamburger {
    display: block;
    padding: 0 3rem;
  }

  .menu {
    position: absolute;
    right: 0;
    padding: 0 3rem;
    top: 75px;
    background-image: linear-gradient(180deg, #74d7bb, #53c8b6, #35a99c);
    display: none;
    transition: all 0.25s;
  }

  .menu .menu-list {
    flex-direction: column;
  }

  .portfolio {
    padding: 0;
  }

  .about {
    flex-direction: column;
  }

  .about .about-text {
    padding: 2rem;
  }

  .about .about-image img {
    padding: 2rem;
  }

  .services {
    padding: 0;
  }

  .my-row {
    gap: 10px;
  }

  .my-row .my-col {
    text-align: center;
    width: 35%;
  }
}

/* CSS for mobile devices */
@media screen and (min-width: 280px) and (max-width: 576px) {
  .hero {
    justify-content: center;
    color: #fff;
    background-image: radial-gradient(
        circle,
        rgb(15 14 14 / 30%),
        rgb(102 96 96 / 40%),
        rgb(163 160 160 / 16%)
      ),
      url("./Images/heroImg3.avif");
  }

  .sub-heading {
    color: #fff9f9cc;
  }

  .hero .intro-buttons {
    gap: 20px;
  }

  .btn {
    padding: 10px 30px;
  }

  .logo {
    padding: 0 2rem;
  }

  .menu {
    position: absolute;
    right: 0;
    padding: 0 2rem;
    top: 75px;
    background-image: linear-gradient(180deg, #35a99c, #53c8b6, #74d7bb);
    display: none;
    transition: all 0.25s;
  }

  .menu .menu-list {
    flex-direction: column;
  }

  .hamburger {
    display: block;
    padding: 0 2rem;
  }

  .portfolio {
    padding: 0;
  }

  .about {
    flex-direction: column;
  }

  .about .about-text {
    width: 90%;
    padding: 1rem;
  }

  .about .about-image img {
    width: 90%;
    padding: 1rem;
  }

  .services {
    padding: 0;
  }

  .my-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 2rem 0;
    gap: 1rem;
  }

  .my-row .my-col {
    text-align: center;
    width: 100%;
  }

  .contact {
    padding: 0;
  }

  .contact-content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .contact-form-container {
    width: 80%;
  }

  .contact-form .form-controls {
    width: 100%;
  }

  .contact-form .form-btn {
    width: 100%;
  }

  .contact-details {
    width: 80%;
  }

  .footer-menu {
    padding: 0 2rem;
  }

  .footer-list-items {
    margin: 0;
  }
  #home {
  background-image: url("/images/bg12.webp");  }
  .linkedin {
    display: none;
  }
  .hero .intro {
    text-align: center;
    margin: 0 5rem;
    /* margin-left: 0; */
  }
}

/* Tejas Hande
tejasamolhande@gmail.com
8600828734 */
